<!DOCTYPE html>
</style></head><body style="background-color:tomato;">
    <h1 style="text-align:center;">Semantic Textual Similarity</h1>
<div>
  
  <form action="/result" method="POST">
    <label for="Text-1">Text-1</label>
    <br>
    <input type="text" id="Text-1" name="SMART_5" size="50" >
    <br>
    <label for="Text-2">Text-2</label>
    <br>
    <input type="text" id="Text-2" name="SMART_9" size="50">
    <br>
    <br>
    <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
  </form>
</div>

</body></html>